<div class="main py-5">
  <div class="container">
    <h1>Project Name</h1>
    <div class="row justify-content-between position-relative">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="List">
          <div class="d-flex justify-content-between mt-4">
            <!-- Search Input -->
            <div class="search-input d-flex">
              <div class="d-flex justify-content-center align-items-center">
                <img src="../assets/imgs/Search - 16px.webp" alt="" />
              </div>
              <input class="ps-1" type="text" placeholder="Search Tasks" />
              <div class="menu border-0">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon class="text-danger">delete</mat-icon>
                    <span class="text-danger">Delete</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>drive_file_rename_outline</mat-icon>
                    <span>Rename</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>circle</mat-icon>
                    <span>Edit Status</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- Actions -->
            <div class="d-flex">
              <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="w-50"
                    src="../assets/imgs/Sort - 16.webp"
                    alt=""
                  />
                </div>
                <div>SORT</div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="w-25 ms-auto"
                    src="../assets/imgs/Filter - 16px.webp"
                    alt=""
                  />
                </div>
                <div class="ms-2">FILTER</div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="w-50 ms-auto"
                    src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                    alt=""
                  />
                </div>
                <div class="ms-2">Subtask</div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="w-50 ms-auto"
                    src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                    alt=""
                  />
                </div>
                <div class="ms-2">Assignees</div>
              </div>
              <div
                class="d-flex justify-content-center align-items-center ms-3"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class=""
                    src="../assets/imgs/eye-svgrepo-com 1.webp"
                    alt=""
                  />
                </div>
                <div class="ms-2">Show</div>
              </div>
              <div
                class="d-flex justify-content-center align-items-center ms-3"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="w-50"
                    src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row w-100 mt-3 g-4">
            <!-- Backlog -->
            <div class="col-md-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="backlog fw-semibold text-uppercase">
                  Backlog (9)
                </div>
                <div class="d-flex align-items-center">
                  <div
                    class="plus-icon d-flex align-items-center justify-content-center"
                  >
                    <img
                      class="w-75"
                      src="../assets/imgs/Plus - 16px.webp"
                      alt=""
                    />
                  </div>
                  <div class="menu border-0 pt-1">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon class="text-danger">delete</mat-icon>
                        <span class="text-danger">Delete</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>drive_file_rename_outline</mat-icon>
                        <span>Rename</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>circle</mat-icon>
                        <span>Edit Status</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Details -->
                <div class="details d-flex align-items-center">
                  <div class="flag d-flex align-items-center">
                    <div
                      class="img d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-100 me-auto"
                        src="../assets/imgs/flag-svgrepo-com (3) 2.webp"
                        alt=""
                      />
                    </div>
                    <span class="mt-1">Urgent</span>
                  </div>
                  <div class="date mt-1 ms-3">19 Jul, 2023</div>
                </div>
                <!-- Category -->
                <div class="category d-flex mt-3">
                  <div class="usability">Usability</div>
                  <div class="ui ms-2">UI</div>
                  <div
                    class="save ms-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-100 me-auto"
                      src="../assets/imgs/Tags.png"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">3</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                          alt=""
                        />
                      </div>
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Details -->
                <div class="details d-flex align-items-center">
                  <div class="flag d-flex align-items-center">
                    <div
                      class="img d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-100 me-auto"
                        src="../assets/imgs/flag-svgrepo-com (3) 2.webp"
                        alt=""
                      />
                    </div>
                    <span class="mt-1">Urgent</span>
                  </div>
                  <div class="date mt-1 ms-3">19 Jul, 2023</div>
                </div>

                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">3</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                          alt=""
                        />
                      </div>
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Details -->
                <div class="details d-flex align-items-center">
                  <div class="flag d-flex align-items-center">
                    <div
                      class="img d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-100 me-auto"
                        src="../assets/imgs/flag-svgrepo-com (3) 2.webp"
                        alt=""
                      />
                    </div>
                    <span class="mt-1">Urgent</span>
                  </div>
                </div>
                <!-- Category -->
                <div class="category d-flex mt-3">
                  <div class="usability">Usability</div>
                  <div class="ui ms-2">UI</div>
                  <div
                    class="save ms-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-100 me-auto"
                      src="../assets/imgs/Tags.png"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">3</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                          alt=""
                        />
                      </div>
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3" role="button">
                <div
                  class="plus-icon d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2 grayColor">Add Task</span>
              </div>
            </div>

            <!-- In progress -->
            <div class="col-md-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="progress-in fw-semibold text-uppercase">
                  In progress (2)
                </div>
                <div class="d-flex align-items-center">
                  <div
                    class="plus-icon d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-75"
                      src="../assets/imgs/Plus - 16px.webp"
                      alt=""
                    />
                  </div>
                  <div class="menu border-0 pt-1">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon class="text-danger">delete</mat-icon>
                        <span class="text-danger">Delete</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>drive_file_rename_outline</mat-icon>
                        <span>Rename</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>circle</mat-icon>
                        <span>Edit Status</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
              <div class="list progresIn p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <div>
                  <img class="w-100" src="../assets/imgs/Group 6.webp" alt="" />
                </div>
                <!-- Info -->
                <div class="info d-flex mt-3">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Details -->
                <div class="details d-flex align-items-center">
                  <div class="flag d-flex align-items-center">
                    <div
                      class="img d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-100 me-auto"
                        src="../assets/imgs/flag-svgrepo-com (3) 2.png"
                        alt=""
                      />
                    </div>
                    <span class="normal mt-1">Normal</span>
                  </div>
                  <div class="date mt-1 ms-3">26 Jul, 2023</div>
                </div>
                <!-- Category -->
                <div class="category d-flex mt-3">
                  <div class="usability">Usability</div>
                  <div class="ui ms-2">UI</div>
                  <div
                    class="save ms-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-100 me-auto"
                      src="../assets/imgs/Tags.png"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">3</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                          alt=""
                        />
                      </div>
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>

                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3" role="button">
                <div
                  class="plus-icon d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2 grayColor">Add Task</span>
              </div>
            </div>

            <!-- In review -->
            <div class="col-md-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="in-review fw-semibold text-uppercase">
                  In review (3)
                </div>
                <div class="d-flex align-items-center">
                  <div
                    class="plus-icon d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-75"
                      src="../assets/imgs/Plus - 16px.webp"
                      alt=""
                    />
                  </div>
                  <div class="menu border-0 pt-1">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon class="text-danger">delete</mat-icon>
                        <span class="text-danger">Delete</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>drive_file_rename_outline</mat-icon>
                        <span>Rename</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>circle</mat-icon>
                        <span>Edit Status</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>

                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <!-- Info -->
                <div class="info d-flex">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>

                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="list progresIn p-3 mt-4">
                <h2 class="list-name mb-1">List Name</h2>
                <div>
                  <img class="w-100" src="../assets/imgs/Group 5.webp" alt="" />
                </div>
                <!-- Info -->
                <div class="info d-flex mt-3">
                  <p class="">
                    Payment modules based on new Accessibilty assessment
                  </p>
                  <div
                    class="d-flex justify-content-center align-items-start pt-1"
                  >
                    <img
                      class="w-50"
                      src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Details -->
                <div class="details d-flex align-items-center">
                  <div class="flag d-flex align-items-center">
                    <div
                      class="img d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-100 me-auto"
                        src="../assets/imgs/flag-svgrepo-com (3) 2.webp"
                        alt=""
                      />
                    </div>
                    <span class="mt-1">Urgent</span>
                  </div>
                </div>
                <!-- Category -->
                <div class="category d-flex mt-3">
                  <div class="usability">Usability</div>
                  <div class="ui ms-2">UI</div>
                  <div
                    class="save ms-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      class="w-100 me-auto"
                      src="../assets/imgs/Tags.png"
                      alt=""
                    />
                  </div>
                </div>
                <!-- Persons -->
                <div
                  class="persons mt-3 d-flex justify-content-between align-items-center"
                >
                  <div class="person-imgs d-flex">
                    <div class="person-img">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div class="person-img left">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person1/XS.jpg"
                        alt=""
                      />
                    </div>
                    <div class="person-img left2">
                      <img
                        class="w-100"
                        src="../assets/imgs/Person/XS.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="person-img left3 d-flex justify-content-center align-items-center"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Plus - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>
                  <div>
                    <div class="attachment d-flex align-items-center">
                      <div
                        class="attachment-img-container d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">3</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/subttasks-svgrepo-com 2.webp"
                          alt=""
                        />
                      </div>
                      <div
                        class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                      >
                        <span class="fs-6 number">1</span>
                        <img
                          class="attachment-img"
                          src="../assets/imgs/Attachment - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3" role="button">
                <div
                  class="plus-icon d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2 grayColor">Add Task</span>
              </div>
            </div>

            <div class="col-md-3 d-flex align-items-end">
              <div
                class="add-task w-100 d-flex align-items-center justify-content-center"
              >
                <div class="text-end">
                  <img
                    class="w-50"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2">Add Task</span>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="kanban">
          <div class="example-container">
            <h2>To do</h2>

            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class=""
              (cdkDropListDropped)="drop($event)"
            >
              <div class="" *ngFor="let item of todo" cdkDrag>
                <div class="list p-3 mt-4">
                  <h2 class="list-name mb-1">List Name</h2>
                  <!-- Info -->
                  <div class="info d-flex">
                    <p class="">
                      Payment modules based on new Accessibilty assessment
                    </p>
                    <div
                      class="d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>

                  <!-- Persons -->
                  <div
                    class="persons mt-3 d-flex justify-content-between align-items-center"
                  >
                    <div class="person-imgs d-flex">
                      <div class="person-img">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person/XS.png"
                          alt=""
                        />
                      </div>
                      <div class="person-img left">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person1/XS.jpg"
                          alt=""
                        />
                      </div>
                      <div class="person-img left2">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person/XS.png"
                          alt=""
                        />
                      </div>
                      <div
                        class="person-img left3 d-flex justify-content-center align-items-center"
                      >
                        <img
                          class="w-50"
                          src="../assets/imgs/Plus - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                    <div>
                      <div class="attachment d-flex align-items-center">
                        <div
                          class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                        >
                          <span class="fs-6 number">1</span>
                          <img
                            class="attachment-img"
                            src="../assets/imgs/Attachment - 16px.webp"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3" role="button">
                <div
                  class="plus-icon d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2 grayColor">Add Task</span>
              </div>
            </div>
          </div>

          <div class="example-container">
            <h2>Done</h2>

            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class=""
              (cdkDropListDropped)="drop($event)"
            >
              <div class="" *ngFor="let item of done" cdkDrag>
                <div class="list p-3 mt-4">
                  <h2 class="list-name mb-1">List Name</h2>
                  <!-- Info -->
                  <div class="info d-flex">
                    <p class="">
                      Payment modules based on new Accessibilty assessment
                    </p>
                    <div
                      class="d-flex justify-content-center align-items-start pt-1"
                    >
                      <img
                        class="w-50"
                        src="../assets/imgs/Ellipsis horizontal 1 - 16px.webp"
                        alt=""
                      />
                    </div>
                  </div>

                  <!-- Persons -->
                  <div
                    class="persons mt-3 d-flex justify-content-between align-items-center"
                  >
                    <div class="person-imgs d-flex">
                      <div class="person-img">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person/XS.png"
                          alt=""
                        />
                      </div>
                      <div class="person-img left">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person1/XS.jpg"
                          alt=""
                        />
                      </div>
                      <div class="person-img left2">
                        <img
                          class="w-100"
                          src="../assets/imgs/Person/XS.png"
                          alt=""
                        />
                      </div>
                      <div
                        class="person-img left3 d-flex justify-content-center align-items-center"
                      >
                        <img
                          class="w-50"
                          src="../assets/imgs/Plus - 16px.webp"
                          alt=""
                        />
                      </div>
                    </div>
                    <div>
                      <div class="attachment d-flex align-items-center">
                        <div
                          class="attachment-img-container ms-3 d-flex align-items-center justify-content-end"
                        >
                          <span class="fs-6 number">1</span>
                          <img
                            class="attachment-img"
                            src="../assets/imgs/Attachment - 16px.webp"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-3" role="button">
                <div
                  class="plus-icon d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="../assets/imgs/Plus - 16px.webp"
                    alt=""
                  />
                </div>
                <span class="ms-2 grayColor">Add Task</span>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Timeline">Timeline</mat-tab>
        <mat-tab label="Calendar">Calendar</mat-tab>
        <mat-tab label="Projects">Projects</mat-tab>
      </mat-tab-group>
      <div
        class="share-btn d-flex justify-content-center align-items-center grayColor"
      >
        <mat-icon class="">share</mat-icon> <span class="ms-2">SHARE</span>
      </div>
    </div>
  </div>
</div>
